.comment-author-role-badge {
  display: inline-block;
  padding: 3px 6px;
  margin-left: .5em;
  margin-right: .5em;
  background: #e8e8e8;
  border-radius: 2px;
  color: rgba(0, 0, 0, .6);
  font-size: .75rem;
  font-weight: normal;
  text-transform: none;
  text-align: left;
  line-height: 1;
  white-space: nowrap;
  vertical-align: middle;
}

.widget .comment-author-role-badge {
  display: none;
}

.comment-author-role-badge--administrator { background: #c1e7f1; }
.comment-author-role-badge--contributor   { background: #c1f1d1; }
.comment-author-role-badge--author        { background: #fdf5c5; }
.comment-author-role-badge--editor        { background: #fdd8c5; }
.comment-author-role-badge--subscriber    { background: #e8e8e8; }

/*
 * Install the following plugin to enable this feature
 *
 * @link https://wordpress.org/plugins/current-theme-body-class/
 */
.current-theme--twentytwelve .comments-area .bypostauthor cite span {
  display: none;
}
